<div class="container">
    <div class="content">
        <div class="header">
            <h1>File Load</h1>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text upload" id="btnUpload" (click)="onUpload()">
                            Subir
                        </span>
                    </div>
                    <div class="custom-file">
                        <form action="/api/upload" method="POST" enctype="multipart/form-data">
                            <input type="file" class="custom-file-input" id="input-custom-file" (change)="onFileChange($event)">
                            <label for="input-custom-file" class="custom-file-label">Elige un archivo</label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>